<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                                         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>CtxListener</listener-class>
    </listener>
    <context-param>
        <param-name>aemail</param-name>
        <param-value>skylinecse03@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>apass</param-name>
        <param-value>skyline123456789</param-value>
    </context-param>
    <servlet>
        <servlet-name>AddANotice</servlet-name>
        <servlet-class>AddANotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyANotice</servlet-name>
        <servlet-class>ModifyANotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyFNotice</servlet-name>
        <servlet-class>ModifyFNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFNotice</servlet-name>
        <servlet-class>AddFNotice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FDownloadFile</servlet-name>
        <servlet-class>FDownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUploads</servlet-name>
        <servlet-class>SUploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SUDownloadFile</servlet-name>
        <servlet-class>SUDownloadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddANotice</servlet-name>
        <url-pattern>/AddANotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyANotice</servlet-name>
        <url-pattern>/ModifyANotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyFNotice</servlet-name>
        <url-pattern>/ModifyFNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFNotice</servlet-name>
        <url-pattern>/AddFNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FDownloadFile</servlet-name>
        <url-pattern>/FDownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUploads</servlet-name>
        <url-pattern>/SUploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SUDownloadFile</servlet-name>
        <url-pattern>/SUDownloadFile</url-pattern>
    </servlet-mapping>
</web-app>
